<div>
    <app-sns-menu></app-sns-menu>
</div>
<div class="container col-12">
    <div class="col-5">
        <div class="row">
            <div class="label">
                Topic:
            </div>
            <div class="input">
                <app-topic-selector (topicChanged)="setSubject($event)"></app-topic-selector>
            </div>
        </div>
        <div class="row">
            <div class="label">
                Endpoint:
            </div>
            <div class="input">
                <input type="text" [(ngModel)]="request.endpoint" />
            </div>
        </div>
        <div class="row">
            <div class="label">&nbsp;</div>
            <div class="input">
                <button class="go" (click)="unSubscribe()">UnSubscribe</button>
            </div>
        </div>
    </div>
    <div class="col-7">
        <app-sns-response-handler [snsResponse]="snsResponse"></app-sns-response-handler>
    </div>
</div>
