<div>
	<app-sns-menu></app-sns-menu>
</div>
<div class="container col-12">
	<div class="col-5">
		<div class="row">
			<div class="label">
				Topic:
			</div>
			<div class="input">
				<input type="text" [(ngModel)]="topic.subject" />
			</div>
		</div>
		<div class="row">
			<div class="label">
				Region:
			</div>
			<div class="input">
				<input type="text" [(ngModel)]="topic.region" />
			</div>
		</div>
		<div class="row">
			<div class="label">
				Account ID:
			</div>
			<div class="input">
				<input type="text" [(ngModel)]="topic.accountId" />
			</div>
		</div>
		<div class="row">
			<div class="label">&nbsp;</div>
			<div class="input">
				<button class="go" (click)="submitTopic()">Submit Topic</button>
			</div>
		</div>
	</div>
	<div class="col-7">
		<app-sns-response-handler [snsResponse]="snsResponse"></app-sns-response-handler>
	</div>
</div>