.menu {
    background-color: rgb(193, 211, 230);
    color: black;
    height: 50px;
    font: 12pt Verdana;
    margin: 0;
    display: inline-block;
    padding: 0;
  }
  
  .menu-item {
    display: inline-block;
    height: 30px;
    padding: 10px;
  }
  
  .menu-item span { 
    text-decoration: none; 
    color: inherit;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
  }
  
  .menu-item:hover {
    background-color: #369;
    color: white;
    cursor: pointer;
  }

  .menu-item.active {
    color: yellow;
    background-color: #000;
  }