/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.go {
    background-color: rgb(119, 207, 19);
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

button.go:hover {
    background-color: #74a14a;
    cursor: pointer;
}

.container {
    margin: 25px;
  }

.row {
    margin: 20px 0;
}

.label,
.input {
    display: inline-block;
}

.label {
    text-align: right;
    white-space: nowrap;
    width: 200px;
}

.input input, .input select {
    width: 200px;
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12 {
    display: inline-block;
    vertical-align: top;
}

.col-3 {
    width: 24%;
}

.col-4 {
    width: 32%;
}

.col-5 {
    width: 40%;
}

.col-6 {
    width: 48%;
}

.col-7 {
    width: 56%;
}

.col-8 {
    width: 64%;
}

.col-9 {
    width: 72%;
}

.col-12 {
    width: 100%;
}